<h1>Eat-Da-Burger</h1>

<h2>Burger yet to be !</h2>

<ol>
  {{#each burger}}
    {{#unless devoured}}
   <li>
      {{>burger devour=true}}
    {{/unless}}
    </li>
  {{/each}}
</ol>

<h2>Burger already </h2>

<ol>
  {{#each burger}}
    {{#if devoured}}
   <li>   
       {{>burger devour=false}}
   </li>
    {{/if}}
  {{/each}}
</ol>


<h2>Add a Burger</h2>
<form class="create-form">
<div class="form-group">
<textarea id="newBurger"></textarea>
</div>
<button type="submit" id ="addNew">Add Burger</button>
</form>

